# ==== Python ====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==== Virtual Environment ====
.venv/
venv/
env/

# ==== Environment Variables ====
.env
.secrets/
# ==== Data / Output ====
data/
outputs/
*.csv
*.json

# ==== OS / Editor ====
.DS_Store
Thumbs.db
.vscode/
.ipynb_checkpoints/

# ==== Logs ====
*.log

# ==== Tool Caches ====
.pytest_cache/
.mypy_cache/
.ruff_cache/
